@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@use "../../../public/css/Carousel.scss";
@use "../../../public/css/Settings.scss";

body {
  
}
.background-app{
  background-color: #F3F2F2;
}

.background-landing {
  width: 100%;
  background-image: linear-gradient(180deg, #CEE5FD, #FFF);
  background-size: 100% 20%;
  background-repeat: no-repeat;
}

.appBar-landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(24px);
  max-height: 40px;
  border: 1px solid;
  border-color: #e5e7eb;
  box-shadow: 
    0 0 1px rgba(85, 166, 246, 0.1), 
    1px 1.5px 2px -1px rgba(85, 166, 246, 0.15), 
    4px 4px 12px -2.5px rgba(85, 166, 246, 0.15);
}

